@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../assets/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../assets/fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../assets/fonts/SFProDisplay-Bold.ttf");
}