.orderGateway_container{
  min-width: 100% !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.page_container{
  margin-top: 20px;
}