.confirmationContactContainer_card{
  display: flex !important;
  align-items: center !important;
  margin-top: 1rem !important;
}
.confirmationContactContainer_title{
  text-align: center !important;
  font-family: var(#{--primary-font-medium});
}

.confirmationContactType_container{
  padding: 1.6rem 0.8rem 1rem 0.8rem !important;
}
.confirmationContactTypeItem_icon{
  text-align: center !important;
  font-size: 2.2rem !important;
}

.confirmationContactTypeItem_container{
  text-align: center !important;
}
.confirmationContactTypeItem_label{
  text-align: center !important;
  font-family: var(#{--primary-font-medium}) !important;
}

.confirmationContact_form{
  padding: 0 1.2rem 0 1.2rem !important;
}
.confirmationContact_adornment{
  font-size: 1.3rem !important;
  color: var(#{--primary-gray-500}) !important;
}

.confarmitionSuccess_icon{
  font-size: 6rem !important;
  color: var(#{--primary-green-700}) !important;
}
.confarmitionSuccess_title{
  font-family: var(#{--primary-font-medium});
}