.confirmationContactContainer_card{
  display: flex !important;
  align-items: center !important;
  margin-top: 1rem !important;
}
.confirmationContactContainer_title{
  text-align: center !important;
  font-family: var(#{--primary-font-medium});
}

.confirmationContactType_container{
  padding: 1rem 1.2rem 0 1.2rem !important;
}
.confirmationContactType_toggleButtons{
  padding: 0.4rem 0rem 0.4rem 0rem !important;
  background-color: var(#{--primary-gray-50}) !important;
  border-radius: 1.4rem !important;;
}

.confirmationContactTypeItem_icon{
  text-align: center !important;
  font-size: 2.2rem !important;
}

.confirmationContactTypeItem_label{
  text-align: center !important;
  font-family: var(#{--primary-font-medium}) !important;
}

.confirmationContact_form{
  padding: 0 1.2rem 0 1.2rem !important;
}
.confirmationContact_adornment{
  font-size: 1.3rem !important;
  color: var(#{--primary-gray-700}) !important;
}

.confarmitionSuccess_icon{
  font-size: 6rem !important;
  color: var(#{--primary-green-700}) !important;
}
.confarmitionSuccess_title{
  font-family: var(#{--primary-font-medium});
}